*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --myDarkColor: #340538;
}



/* .logo{
    height: 6vh;
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.logo-container h3{
    font-weight: 600;
}

header{
    width: 100%;
    height: 10vh;
    background-color: #340538;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.right-nav{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.right-nav button{
    background-color: white;
    padding: 10px 50px;
    border-radius: 30px;
}

main{
    display: flex;
}

.sidebar{
    width: 300px;
    height: 90vh;
    background-color: var(--myDarkColor);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hyper{
    width: 250px;
    height: 90vh;
    background-color: var(--myDarkColor);
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
}

.sidebar button{
    padding: 10px;
    background: transparent;
    color: #818181;
    border: none;
    cursor: pointer;
}

.display-area{
    width: 500px;

}

.sidebar,
.display-area{
    padding: 2rem;
}

#active{
    background-color: white;
    color: var(--myDarkColor);
}

.sidebar button:hover{
    background-color: rgb(131, 131, 131);
    color: white;
}

#stat-container{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

#stat-container .stat{
    background-color: var(--myDarkColor);
    color: white;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 5px;
    gap: 10px
}

.stat-container .stat p{
    color:#acacac
}
#display-area,
#student_details_area{
    display: none;
}
#display-area,
#add_student_area{
    display: none;
}
#display-area,
#feedback_area{
    display: none;
}

.elem-group{
    display: block;
    gap: 20px 0;
    margin: 10px;
    width: 49%;
}
label {
    display: block;
    font-family: 'Nanum Gothic';
    padding-bottom: 10px;
    font-size: 1.25em;
}
 table{
    border-collapse: collapse;
    width: 50px;
    margin: 50px auto;
    background-color: rgb(19, 6, 65);
}
table, th, td{
    border: 2px solid black;
    padding: 5px;
}  
th{
    font-size: 20px;
    display: flex;
} */