*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100% !important;
}

header{
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    background-color: #160025;
    opacity: 1;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 999;
}

.nav-links{
    display: flex;
    gap: 5rem;
}

.nav-links .nav-link{
    color: white;
    padding-bottom: 5px;
}

.nav-links .nav-link.nav-link:hover,
.nav-links .nav-link.nav-link:focus{
    border-bottom: 1px solid white;
}

.logo-container{
    color: white;
    margin-left: 50px;
    font-size: medium;
}

#home .left-panel .btns button:hover{
    transform: scale(1.15);
    transition: 0.3s;
}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(170, 5, 5, 0.9), rgba(23, 1, 48, 0.9));
    padding: 4rem;
}

#home .left-panel .home-text{
    width: 70%;
}

#home .left-panel .home-text h1{
    font-size: 3.5rem;
    color: white;
}

#home .left-panel .home-text p{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.6em;
    font-size: 20px;
}

section{
    margin-top: 30px;
}

#home .left-panel .btns{
    display: flex;
    gap: 20px;
}

#home .left-panel .btns button{
    background-color: white;
    border-radius: 30px;
    padding: 20px 30px;
    border: none;
    font-weight: 800;
    cursor: pointer;
}

#home .left-panel .btns .visit-btn{
    background: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

#home .right-panel img{
    animation: 1s move alternate forwards;
    z-index: -999;
    border-bottom-left-radius: 30px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
}

@keyframes move {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1.1);
    }
}

/* ABOUT SECTION STYLES */
#about{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#about .right-box{
    width: 40%;
}

#about .right-box h1{
    font-size: 3.5rem;
}

#about .right-box p{
    font-size: 20px;
    color: #818181;
    line-height: 1.6em;
    margin-top: 20px;
}

#about .left-box img{
    height: 60vh;
    justify-content: center;
}

#services{
    height: 70vh;
    background-color: mediumseagreen;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5rem;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/chairs.jpg') no-repeat;
    background-size: cover;

}

#services .cards{
    margin: auto;
    display: flex;
    gap: 30px;
}

#services h1{
    color: white;
    font-size: 3rem;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#services .cards .card{
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
}

#services .cards .card p{
    color: #818181;
    line-height: 1.6em;
    font-size: 18px;
}

footer{
    height: 20vh;
    background-color: black;
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media  screen and (max-width: 1280px) {
    header .nav-link{
        display: none;
    }

    #home .right-panel img{
        display: none;
    }

    #home{
        padding: 5rem;
    }

    #about{
        flex-direction: column;
    }

    #about .right-box{
        width: 80%;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #services{
        height: 100% !important;
    }

    #services h1{
        top: 100px;
        font-size: 35px;
    }

    #services .cards{
        flex-direction: column;
        margin-top: 7rem;
    }

    #services .cards .card{
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    }
}